
.studies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 2rem;
    animation-duration: 1.4s;
    animation-name: subtleFade;
    padding-bottom: 4rem;
    margin-bottom: 6rem;
    gap: 3rem;
}

.study {
    margin-right: 2rem;
    padding: 0rem 1rem;
}



label {
    color: #fff;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 20rem;
    height: 16rem;
    margin: 3rem auto;
    cursor: pointer;
  }
  
  .card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
  }
  
  .card div {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
    height: 24rem;
    border-radius: 8px;
  }
  
  
  .card .back {
    
    color: #fff;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    cursor: auto;
    line-height: 1.5;
    text-align: left;
  }

  .card .back a {
    text-decoration: none;
    color: #D8D4E8;
    border-bottom: 1px solid rgba($color-white, .6);
  }

  .card .back img {
    height: 2.5rem;
    margin-bottom: 1rem;
  }
  
  input {
    display: none;
  }
  
  :checked + .card {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }

  .front {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    opacity: .7;
    gap: 1rem;

    &:hover {
        opacity: 1;
    }
  }


  .front img {
    height: 4rem;

    &:last-child {
        height: 2rem;
    }
    
  }
.study-link {
    margin-top: .25rem;
}



@media screen and (max-width: 1140px) {
    .studies {
        flex-direction: column;
    }

    .study {
        margin-right: 0rem;
        margin-bottom: 4rem;
    }

    .front {
        opacity: .9;
    }
}

@media screen and (max-width: 440px) {
    .studies {
        margin: 3rem .5rem;
    }
    label {
        margin: 1rem auto;
    }

    .card .back {
        font-size: .925rem;
    }

    .front {
        font-size: 1.75rem;
    }

    label {
        width: 90vw;
    }
}

@media screen and (max-width: 350px) {
    .card .back {
        font-size: .825rem;

    }
}

@keyframes stay-invisible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}