.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem;
    animation-duration: 1.2s;
    animation-name: subtleFade;
    
}

.readinq {
    width: 24rem;
    
}

.works-img {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 8px;
    opacity: 70%;

    &:hover {
        opacity: 100%;
    }
}

.works-description{
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    
    
}

.works-link {
    font-weight: 400;
    font-size: 1.25rem;
    margin: .25rem;
    text-decoration: none;
    color: $color-white;
}

.documentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin: .25rem;
    margin-top: .5rem;
    font-weight: 500;
    text-decoration: none;
    color: $color-white;
    padding: .5rem .75rem;
    border-radius: 4px;
    border: 1px solid (rgba($color-x,.2));
    

}

@media screen and (max-width: 440px) {
    .readinq {
        width: 20rem;
    }
}

@keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  

