.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 3rem 1rem;
  position: relative;
  
}

.feature {
    &.tag {
        margin-top: 1rem;
        border-top: 1px solid #eee;
        position: relative;
        background-color: rgba($color-white, .9);
        user-select: none;

        &:before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#948abe, 0.4);
    filter: blur(12px);

    
    }
    }
}

.work {
    padding: 0rem 8rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

.works-img {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  width: 20rem;
  border-radius: 8px;
  opacity: 70%;

  &:hover {
    opacity: 100%;
  }
}

.docs {
  width: 2rem;
}

.img-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.works-img-expand {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90%;
  width: 90%;
  object-fit: cover;
}

.work-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.works-link {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0.25rem;
  text-decoration: none;
  color: $color-white;
}

.description-container {
}

.description-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.description {
    width: 20rem;
  display: flex;
  flex-direction: column;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    user-select: none;
}

.int-text {
  color: $color-white;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  border: 1px solid (rgba($color-x, 0.1));
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.sources {
  display: flex;
  flex-direction: row;

  & a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.5rem;
    margin-right: 0rem;
    font-weight: 500;
    text-decoration: none;
    color: $color-white;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid (rgba($color-x, 0.2));
  }
}

@media screen and (max-width: 1000px) {
  .works {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    &.tag {
        margin-left: 0rem;
       
    }
}
}

@media screen and (max-width: 700px) {
  .work {
    padding: 0;
    width: 95vw;
  }
}

@media screen and (max-width: 440px) {
  .work {
    width: 20rem;
  }

  .docs {
    width: 1.5rem;
  }
}

@media screen and (max-width: 360px) {
  .works-img {
    width: 95vw;
  }

  .description {
    width: 95vw;
  }

  .description-heading {
    flex-direction: column;
    align-items: flex-start;
  }
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
