

.buttons {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    
    user-select: none;
    
    
    animation:  enlarge 2s 1, shimmer 2s 1 2s;
    height: 10rem;
    
  }

@keyframes shimmer {
    100% {
      -webkit-mask-position: left;
    }
  }

@keyframes enlarge {
    0% {
        transform:scale(1);
     }
     
     50% {
        transform:scale(1.05);
     }
     
     100% {
        transform:scale(1);
     }
}

@keyframes move {
    0% {
        transform: translateY(0);
     }
     
     50% {
        transform: translateY(40px);
     }
     
     100% {
        transform: translateY(0);
     }
}
    
    
.button-container {
    display: flex;
    flex-direction: row;
    

}

.button {

    height: 25%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid (rgba($color-x, .25));
    color: $color-white;
    padding: 1rem 2rem;
    margin-right: 2rem;
    cursor: pointer;
    border-radius: 6px;
    
    z-index: 2;

    
    

    &:first-child {
        z-index: 3
    }

    &:last-child {
        z-index: 1;
    }
}

.button-active {
    background-color: (rgba($color-main, .24));
}

.button-icon {
    margin-right: .75rem;
    fill: $color-x;
    align-self: center;
    justify-self: center;
}

@media screen and (max-width: 880px) {
    .button {
        margin-right: .25rem;
        font-size: 1.5rem;
        width: 30vw;
        height: 40%;

        &:last-child {
            margin-right: 0;
        }
    }

    .buttons {margin: 1rem}
}


@media screen and (max-width: 600px) {

    .buttons {
        margin-top: 1.25rem;
    }
    .button {
        padding: 1.25rem 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        font-size: 1rem;
        box-shadow: 0rem .5rem .5rem rgba(0, 0, 0, 0.2);
    }

    .button-active {
        background-color: (rgba($color-accent, .2));
    }

    .button-icon {
        margin-right: 0;
        width: 32px;
    }
}

@keyframes subtleFade {
    0% {
      mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 / 400% no-repeat;
      opacity: .2;
    }
    100% {
      mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400% no-repeat;
      opacity: 1;
    }
    // https://twitter.com/shuding_/status/1556357928176730113
  
}