.heading {
    margin: 2rem 8rem 1rem 8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    border-radius: 6px;
    position: relative;
}

.heading-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.name {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 1.5rem;
    opacity: .9;
    color: $color-white;
}

.profile-pic {
    height: 5rem;
    border-radius: 4px;
    margin-left: .5rem;
    margin-right: 1rem;
}

.message-me {
    
    gap: 1rem;
    padding: .5rem 1rem;
    border-radius: 4px;
    border: 1px solid (rgba($color-x, .25));
    background-image: url(../../../public/assets/galaxy-bg.png);

    
    & .call {
        display: flex;
        align-items: center;
        gap: .375rem;
        text-decoration: none;
        animation: Color 20s linear infinite;
        -webkit-animation: Color 20s ease-in-out infinite;
        
    }
}
@media screen and(max-width: 880px) { 

    .heading {
        padding: .25rem .5rem;
        margin: 2rem 4rem;
        margin-bottom: 4rem;
    }
    .message-me {
        gap: .5rem;
    }
}

@media screen and (max-width: 590px) {
    .heading {
        margin: 1rem;
    }
}


@media screen and (max-width: 440px) {
    .heading {
        padding: 2rem 1rem;
        margin: 0rem 0rem 1rem 0rem;
        display: flex;
        gap: 1rem;
        
        
        background-color: #19191947;
        
        
        & .profile-pic {
            height: 4rem;
            width: 4rem;
            border-radius: 100;
            justify-self: center;
            align-self: center;

        }
    }

    .message-me {
        font-size: .875rem;
        padding: .25rem .5rem;
        
    }

    .name {
        font-weight: 500;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 380px) {
    .heading {
        
            
        
        gap: .5rem;
        

    }
    .message-me {
        text-align: center;
        gap: .5rem;
        padding:.25rem .5rem;
        
    }
}


