.buttons {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: #C3C3C3;
    user-select: none;
    color: grey;
    -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300%
      100%;
    background-repeat: no-repeat;
    animation:  enlarge 2s 1, shimmer 2s 1 2s;
    
    
    
  }


@keyframes shimmer {
    100% {
      -webkit-mask-position: left;
    }
  }

@keyframes enlarge {
    0% {
        transform:scale(1);
     }
     
     50% {
        transform:scale(1.05);
     }
     
     100% {
        transform:scale(1);
     }
}

@keyframes move {
    0% {
        transform: translateY(0);
     }
     
     50% {
        transform: translateY(40px);
     }
     
     100% {
        transform: translateY(0);
     }
}
    
    


.button {
    
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F2F2F;
    color: #D3D3D3;
    padding: 1.5rem 2rem;
    margin-right: 2rem;
    cursor: pointer;
    border-radius: .25rem;

    &:target {
        color: #4B4B4B;
        background-color: #D3D3D3;
        
    }

    &:last-child {
        margin-right: 0;
    }
}

.button-active {
    color: #4B4B4B;
    background-color: #D3D3D3;
}

.button-icon {
    margin-right: .75rem;
    height: 1.75rem;
}

@media screen and (max-width: 880px) {
    .button {
        margin-right: 0;
        font-size: 1.5rem;
        width: 100%;
    }

    .buttons {margin: 1rem}
}


@media screen and (max-width: 600px) {

    .buttons {
        margin-top:3rem;
    }
    .button {
        padding: 1.25rem 0rem;
        border-color: #635A5A;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        font-size: 1rem;
    }

    .button-icon {
        margin-right: 0;
        width: 32px;
    }
}

@media screen and (max-width: 400px) {
    .button {
        &:target {
            color: #1a1a1a;
        }
    }
}

@keyframes subtleFade {
    0% {
      mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 / 400% no-repeat;
      opacity: .2;
    }
    100% {
      mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400% no-repeat;
      opacity: 1;
    }
    // https://twitter.com/shuding_/status/1556357928176730113
  
}