.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem;
    animation-duration: 1.2s;
    animation-name: subtleFade;
    
}

.readinq {
    width: 24rem;
    
}

.works-img {
    width: 100%;
    border-radius: 8px;
    opacity: 70%;

    &:hover {
        opacity: 100%;
    }
}

.works-description{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.works-link {
    font-weight: 400;
    font-size: 1.25rem;
    margin: .5rem;
    text-decoration: none;
    color: #FFF;
}

.documentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin: .5rem;
    font-weight: 500
    

}

@media screen and (max-width: 440px) {
    .readinq {
        width: 20rem;
    }
}

@keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  

