
.resume {
    color: #fff;
    user-select: none;
    
}

@media screen and (max-width: 768px) { 
    .resume {
        width: 100vw;
        height: 100vh;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }
    
}




