.resume {
  color: #fff;
  position: relative;
  width: calc(100vw - 32rem);
  margin: auto;
  border-left: 1px solid rgba(238, 238, 238, 0.2);
  margin-bottom: 1rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.dabs {
  width: calc(100vw - 32rem);
  margin: auto;
  border-top: none;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1400px) {
  .resume {
    width: calc(100vw - 24rem);
  }
}

@media screen and (max-width: 1240px) {
  .resume {
    width: calc(100vw - 16rem);
  }
}

@media screen and (max-width: 880px) {
  .resume {
    width: auto;
    border-left: none;
  }
}
